{
    "DisablePreopt": false,
    "DisablePreoptBootImages": false,
    "DisablePreoptModules": [],
    "OnlyPreoptBootImageAndSystemServer": false,
    "PreoptWithUpdatableBcp": true,
    "UseArtImage": false,
    "DontUncompressPrivAppsDex": false,
    "ModulesLoadedByPrivilegedModules": [],
    "HasSystemOther": false,
    "PatternsOnSystemOther": ["app/%","priv-app/%","system_ext/app/%","system_ext/priv-app/%","product/app/%","product/priv-app/%"],
    "DisableGenerateProfile": false,
    "ProfileDir": "",
    "BootJars": ["com.android.art:core-oj","com.android.art:core-libart","com.android.art:okhttp","com.android.art:bouncycastle","com.android.art:apache-xml","platform:framework-minus-apex","platform:framework-graphics","platform:ext","platform:telephony-common","platform:voip-common","platform:ims-common","platform:telephony-ext","platform:WfdCommon","com.android.i18n:core-icu4j"],
    "ApexBootJars": ["com.android.adservices:framework-adservices","com.android.adservices:framework-sdksandbox","com.android.appsearch:framework-appsearch","com.android.btservices:framework-bluetooth","com.android.conscrypt:conscrypt","com.android.ipsec:android.net.ipsec.ike","com.android.media:updatable-media","com.android.mediaprovider:framework-mediaprovider","com.android.ondevicepersonalization:framework-ondevicepersonalization","com.android.os.statsd:framework-statsd","com.android.permission:framework-permission","com.android.permission:framework-permission-s","com.android.scheduling:framework-scheduling","com.android.sdkext:framework-sdkextensions","com.android.tethering:framework-connectivity","com.android.tethering:framework-connectivity-t","com.android.tethering:framework-tethering","com.android.uwb:framework-uwb","com.android.wifi:framework-wifi"],
    "ArtApexJars": ["com.android.art:core-oj","com.android.art:core-libart","com.android.art:okhttp","com.android.art:bouncycastle","com.android.art:apache-xml"],
    "SystemServerJars": ["platform:com.android.location.provider","platform:services"],
    "SystemServerApps": ["SettingsProvider","WallpaperBackup","FusedLocation","InputDevices","KeyChain","Telecom"],
    "ApexSystemServerJars": ["com.android.adservices:service-adservices","com.android.adservices:service-sdksandbox","com.android.appsearch:service-appsearch","com.android.art:service-art","com.android.media:service-media-s","com.android.permission:service-permission"],
    "StandaloneSystemServerJars": [],
    "ApexStandaloneSystemServerJars": ["com.android.btservices:service-bluetooth","com.android.os.statsd:service-statsd","com.android.scheduling:service-scheduling","com.android.tethering:service-connectivity","com.android.uwb:service-uwb","com.android.wifi:service-wifi"],
    "BrokenSuboptimalOrderOfSystemServerJars": false,
    "SpeedApps": ["SystemUI","NexusLauncherRelease"],
    "PreoptFlags": [],
    "DefaultCompilerFilter": "",
    "SystemServerCompilerFilter": "",
    "GenerateDmFiles": false,
    "NeverAllowStripping": false,
    "NoDebugInfo": false,
    "DontResolveStartupStrings": false,
    "AlwaysSystemServerDebugInfo": false,
    "NeverSystemServerDebugInfo": false,
    "AlwaysOtherDebugInfo": false,
    "NeverOtherDebugInfo": false,
    "IsEng": false,
    "SanitizeLite": false,
    "DefaultAppImages": false,
    "RelaxUsesLibraryCheck": false,
    "Dex2oatXmx": "512m",
    "Dex2oatXms": "64m",
    "EmptyDirectory": "/home/rahul/work/out/empty",
    "CpuVariant": {
        "arm64": "generic",
        "arm": "generic"
    },
    "InstructionSetFeatures": {
        "arm64": "default",
        "arm": "default"
    },
    "BootImageProfiles": ["art/build/boot/boot-image-profile.txt","frameworks/base/boot/boot-image-profile.txt"],
    "BootFlags": "--generate-mini-debug-info",
    "Dex2oatImageXmx": "64m",
    "Dex2oatImageXms": "64m"
}
